body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header, footer{
    background-color: #5e3370;
    color: white;
    text-align: center;
    padding: 15px;
}
section{
    padding: 20px;
}
button{
    border: none;
    background-color: #5e3370;
    color: white;
    font-size: large;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}